# Canonical base URLs for published Google Sheets workbooks
HERO_WORKBOOK_URL=https://docs.google.com/spreadsheets/d/e/.../pub
EQUIPMENT_WORKBOOK_URL=https://docs.google.com/spreadsheets/d/e/.../pub
ARCANA_WORKBOOK_URL=https://docs.google.com/spreadsheets/d/e/.../pub
ENCHANTMENT_WORKBOOK_URL=https://docs.google.com/spreadsheets/d/e/.../pub
TALENT_WORKBOOK_URL=https://docs.google.com/spreadsheets/d/e/.../pub

# For AVIX, assets are stored in an independent repository, therefore dedicated env var
ASSET_BASE_URL=https://...

